/* .wapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.cards {
  width: 30%;
  margin-bottom: 30px;
  border: 1px solid;
  margin: 0 auto;
}
.image {
  width: 100%;
} */
